In [1]:
import pandas as pd

# Reading Data

In [2]:
 df = pd.read_csv('data.csv')

In [3]:
df.head()

        fever  bodyPain  age  runnyNose  diffBreath  infectionProb
0   98.511677         1   60          0           0              0
1  100.407607         1   17          1           1              1
2  101.290108         1   56          1          -1              1
3   98.897973         0   20          0           0              0
4   99.869374         0    7          0          -1              0

In [4]:
df.tail()

          fever  bodyPain  age  runnyNose  diffBreath  infectionProb
2570  98.108060         1   11          0          -1              0
2571  98.569488         1   37          1           1              1
2572  98.961607         1   58          0           0              0
2573  98.963458         1   80          0           1              1
2574  98.411260         0   98          1           0              0

In [5]:
df['diffBreath'].value_counts()

-1    870
 0    862
 1    843
Name: diffBreath, dtype: int64

## Train Test Splitting

In [6]:
import numpy as np

In [7]:
def data_split(data, ratio):
    np.random.seed(42)
    shuffled = np.random.permutation(len(data))
    test_set_size = int(len(data) * ratio)
    test_indices = shuffled[:test_set_size]
    train_indices = shuffled[test_set_size:]
    return data.iloc[train_indices], data.iloc[test_indices]

In [8]:
np.random.permutation(7)

array([0, 5, 2, 6, 4, 3, 1])

In [9]:
train, test = data_split(df, 0.2)

In [10]:
train

           fever  bodyPain  age  runnyNose  diffBreath  infectionProb
1703  101.835889         1    3          1           1              1
1675   98.052599         0    1          0           0              0
1518  101.963412         1   70          0           1              1
361   100.937072         1   42          1          -1              0
1544  101.189354         0    2          1           0              1
...          ...       ...  ...        ...         ...            ...
1638   98.190119         0   36          1          -1              0
1095  101.694050         1   66          0          -1              0
1130   98.305176         1    5          1          -1              0
1294  101.182750         0   13          1           1              1
860    98.776118         0    5          0          -1              0

[2060 rows x 6 columns]

In [11]:
test

           fever  bodyPain  age  runnyNose  diffBreath  infectionProb
1644  101.092775         0   19          1           1              1
1189   98.025940         1   12          1           0              0
495    99.836078         1   10          1           1              1
1656  101.393009         1    8          0          -1              0
651   100.691069         0   97          0           1              1
...          ...       ...  ...        ...         ...            ...
1627   98.619550         1   74          0           0              0
471   101.626178         0   37          0           1              1
700   101.492309         1   97          0          -1              0
25    100.360353         0   25          1           1              1
755   100.480023         0   74          1          -1              0

[515 rows x 6 columns]

In [12]:
X_train = train[['fever', 'bodyPain', 'age', 'runnyNose', 'diffBreath']].to_numpy()
X_test = test[['fever', 'bodyPain', 'age', 'runnyNose', 'diffBreath']].to_numpy()

In [13]:
Y_train= train[['infectionProb']].to_numpy().reshape(2060 , )
Y_test= test[['infectionProb']].to_numpy().reshape(515, )

In [14]:
Y_train

array([1, 0, 1, ..., 0, 1, 0], dtype=int64)

In [15]:
from sklearn.linear_model import LogisticRegression

In [16]:
clf = LogisticRegression()
clf.fit(X_train, Y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [17]:
inputFeatures = [98,1,22,-1,1]
infProb =clf.predict_proba([inputFeatures])[0][1]

In [18]:
infProb

0.6305238391695807